

<div class="steppers-container row">
  <div class="col-md-12 col-lg-12 col-xxxl-12">
    <nb-card>
      <nb-card-body>
        <nb-stepper #stepper>
          <nb-step label="Schritt 1">
            
            <form class="step-container d-flex flex-column">
              <h5>Deine aktuelle Bestellung</h5>
              <!---
              <nb-list *ngIf="data.bestellartikel.length > 0">
                <nb-list-item class="" *ngFor="let ba of data.bestellartikel">
                  
                  <p class="mt-2">{{ ba.menge }}x {{ ba.artikel.name }}</p>
                  <div class="actions">
                  <nb-form-field class="mr-1" [hidden]="!ba.inEdit">
                    <nb-icon (click)="decAmount(ba)" nbPrefix icon="minus-outline" pack="eva"></nb-icon>
                    <input class="amount" [ngModelOptions]="{standalone: true}" [(ngModel)]="ba.menge" nbInput>
                    <nb-icon (click)="incAmount(ba)" nbSuffix icon="plus-outline" pack="eva"></nb-icon>
                  </nb-form-field>

                  <ng-container *ngIf="ba.inEdit; else viewMode">
                    <button nbButton status="success" ghost size="tiny" (click)="onSave(ba)">
                      <nb-icon icon="save-outline"></nb-icon>
                    </button>
                  </ng-container>

                  <button nbButton status="info" ghost size="tiny" (click)="onEdit(ba)" >
                    <nb-icon icon="edit-2-outline"></nb-icon>
                  </button> 

                  <nb-form-field class="mr-1">
                    <nb-icon (click)="decAmount(ba)" nbPrefix icon="minus-outline" pack="eva"></nb-icon>
                    <input class="amount" [ngModelOptions]="{standalone: true}" [(ngModel)]="ba.menge" nbInput>
                    <nb-icon (click)="incAmount(ba)" nbSuffix icon="plus-outline" pack="eva"></nb-icon>
                  </nb-form-field>
                  
                  <p>{{ ba.artikel.preis | currency:'EUR':'symbol':'1.2-2':'de' }}</p>

                </div>
                </nb-list-item>
                <nb-list-item class="actions">
                  Summe {{ data.sum | currency:'EUR':'symbol':'1.2-2':'de'  }}
                </nb-list-item>

              </nb-list>

              
              <p *ngIf="data.bestellartikel.length == 0">Noch keine Artikel hinzugefügt. Wähle bitte Artikel aus der Artikelliste.</p>
            -->
              <button class="m-2" nbButton nbStepperNext>Weiter</button>
            </form>
          </nb-step>
          <nb-step [stepControl]="secondForm" label="Schritt 2">
            <form [formGroup]="secondForm" (ngSubmit)="onSecondSubmit()" class="step-container d-flex flex-column">
              <!---<p class="lorem">
                Bitte gib hier deine Tischnummer ein.
              </p>
              <div class="input-group">
                <input maxlength="15" type="text" [(ngModel)]="data.currentBestellung.tischnr" placeholder="13" class="form-control" formControlName="secondNr">
              </div>

              <p class="lorem mt-4">
                Bitte gib hier deinen Namen an, damit wir die Bestellung zu dir bringen können.
              </p>
              <div class="input-group">
                <input maxlength="50" type="text" [(ngModel)]="data.currentBestellung.name" placeholder="Huber" class="form-control" formControlName="secondName">
              </div>
            --->
              <div class="d-flex flex-row justify-content-between">
                <button nbButton class="mt-2" nbStepperPrevious>Zurück</button>
                <button nbButton class="mt-2" nbStepperNext>Weiter</button>
              </div>
            </form>
          </nb-step>
          <nb-step [stepControl]="thirdForm" label="Schritt 3">
            <form class="step-container">
              <!--<p class="lorem">
                Bitte überprüfe deine Bestellung:
              </p>
              <h5>Tischnummer: {{data.currentBestellung.tischnr}}</h5>

              <nb-list *ngIf="data.bestellartikel.length > 0">
                <nb-list-item class="list" *ngFor="let ba of data.bestellartikel">
                  <p class="mt-2">{{ ba.menge }}x {{ ba.artikel.name }}</p>
                </nb-list-item>
              </nb-list>
            -->
              <div class="d-flex flex-row justify-content-between">
                <button nbButton class="mt-2" nbStepperPrevious>Zurück</button>
                <button nbButton class="mt-2" (click)="thirdSubmit()" nbStepperNext>Weiter</button>
              </div>
            </form>
          </nb-step>
          <nb-step [stepControl]="thirdForm" [hidden]="true" label="Schritt 3">
            <div class="step-container d-flex flex-column">
              <h3>Danke für deine Bestellung.</h3>
              <p>Sie dürfte in Kürze bei dir eintreffen.</p>
              <button nbButton (click)="backToDash()">Nochmal bestellen.</button>
            </div>
          </nb-step>
        </nb-stepper>
      </nb-card-body>
    </nb-card>
  </div>
