
<div class="row">
    <div class="col-lg-6">
        <nb-card>
            <nb-card-header>
                <span class="h3 location"> Herzlich Willkommen {{ data.mitglied.name }} </span> 
                auf der Internen Seite der Kantorei Leonfelden!
               
            </nb-card-header>
            <nb-card-body class="d-flex flex-row">

            </nb-card-body>
        </nb-card>
    </div>

    <div class="col-lg-6">
        <nb-card size="medium">
            <nb-card-body>
              <span class="h3 location">Bad Leonfelden</span>
              <span class="date">Thu 18 May</span>
          
              <div class="today">
                <span class="today-temperature h1">1&deg;</span>
                <nb-icon icon="sun-outline" pack="eva" class="today-icon"></nb-icon>
              </div>
          
              <div class="today-details">
                <div class="parameter">
                  <span class="caption parameter-name">max</span>
                  <span class="parameter-value">2&deg;</span>
                </div>
                <div class="parameter">
                  <span class="caption parameter-name">min</span>
                  <span class="parameter-value">-3&deg;</span>
                </div>
                <div class="parameter">
                  <span class="caption parameter-name">wind</span>
                  <span class="parameter-value">4 km/h</span>
                </div>
                <div class="parameter">
                  <span class="caption parameter-name">hum</span>
                  <span class="parameter-value">87%</span>
                </div>
              </div>
          
              <div class="weekly-forecast">
                <div class="day">
                  <span class="caption">Sun</span>
                  <i class="weather-icon ion-ios-cloudy-outline"></i>
                  <span class="temperature">1&deg;</span>
                </div>
                <div class="day">
                  <span class="caption">Mon</span>
                  <i class="weather-icon ion-ios-sunny-outline"></i>
                  <span class="temperature">-1&deg;</span>
                </div>
                <div class="day">
                  <span class="caption">Tue</span>
                  <i class="weather-icon ion-ios-rainy-outline"></i>
                  <span class="temperature">2&deg;</span>
                </div>
                <div class="day">
                  <span class="caption">Wed</span>
                  <i class="weather-icon ion-ios-partlysunny-outline"></i>
                  <span class="temperature">3&deg;</span>
                </div>
              </div>
            </nb-card-body>
          </nb-card>
          
    </div>
    <div class="col-lg-6">
        
            <ngx-contacts></ngx-contacts>
          
    </div>



  </div>

